{% extends "base.html"%}

{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'game' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}

{% block content %}

<h1>{{ game.name }} - {{game.date}}</h1>
<h3>Your Team: <b><u>{{request.session.team_name}}</b></u></h3>
<h4>Your current score: <b>{{team.score}}</b></h4>
<div class="list-group">
{%for round in rounds %}
		<div class="card" style="width: 18rem;" >
				<ul class="list-group list-group-flush">

					<li class="list-group-item">
						<b>Round #{{round.round_num}}: </b>
						{%if round.active %}
							<span class="badge badge-success badge-pill">Active</span>
						{% else %}
							<span class="badge badge-danger badge-pill">Inactive</span>
						{%endif %}
					</li>
					{%if round.active %}
						<li class="list-group-item"><b>Round Name: </b> {{round.round_name}}</li>
						<li class="list-group-item"><a href="{%url 'round' game.password round.round_num %}"><button class="btn btn-primary btn-block">Answer</button></a></li>
					{%endif%}
				</ul>
			</div>
			<br>
{%endfor%}
</div>
{% endblock content %}
