{% extends "base.html"%}

{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'game' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}

{% block content %}
	<div class="card border-info mb-3"> 
		<div class="card-header">
			<h1>{{ game.name }} - {{game.date}}</h1>
			{%if request.session.team_name == "Viewer" %}
			<h3>VIEW ONLY</h3>
			{%else %}
			<h3>Your Team: <b><u>{{request.session.team_name}}</b></u></h3>
			<h4>Your current score: <b>{{team.score}}</b></h4>
			{% endif %}
		</div>
		<div class="card-body">
			<div class="list-group">
			{%for round in rounds %}
			<div class="card {%if round.active %} border-primary {%else%} border-secondary {%endif%}" style="width: 18rem;" >
							<ul class="list-group list-group-flush">

								<li class="list-group-item card-text">
									<b>Round #{{round.round_num}}: </b>
									{%if round.active %}
										<span class="badge badge-info badge-pill">Active</span>
									{% else %}
										<span class="badge badge-secondary badge-pill">Inactive</span>
									{%endif %}
								</li>
								{%if round.active  or round.round_num <= request.session.answered %}
									<li class="list-group-item"><b>Round Name: </b> {{round.round_name}}</li>
									<li class="list-group-item"><a href="{%url 'round' game.password round.round_num %}"><button class="btn {%if round.active %} btn-primary {%else %} btn-outline-primary {%endif%}btn-block">View</button></a></li>
								{%endif%}
							</ul>
						</div>
						<br>
			{%endfor%}
			</div>
		</div>
	</div>
{% endblock content %}
