{% extends "base.html" %}

{% block content %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Error!</h4>
            <p class="mb-0">{{error}}</p>
        </div>
        {%endif%}

        <div class="card border-info mb-3" >
            <div class="card-header">Join Game</div>
            <div class="card-body">
                <h4 class="card-title">Enter Game ID/password here:</h4>
                <label for="game_id"><b>Game ID:</b></label><br>
                <input class="form-control card-text" type="text" id="game_id" name="game_id" placeholder="Enter Game ID"><br>
                <button type="submit" class="btn btn-info">Join Game!</button>
            </form>
            </div>
        </div>

        
</div>

{% endblock content %}
