{% extends "base.html" %}
{% block content %}


<div class="card border-info mb-3">
	<div class="card-header">
		<h1>Trivia Home</h1>
	</div>
	<div class="card-body">
		<h2 class="card-title">Games</h2>
		<p class="card-text"> Below is a list of currently active games. If there are none listed, wait until the Quizmaster indicates the game is live</p>
		{% for game in games %}
			{% if game.active %}
					<div class="card border-secondary " style="width: 18rem;" >
						<ul class="list-group list-group-flush">

							<li class="list-group-item"><b>Game: {{game.name}}</b></li>
							<li class="list-group-item"><b>Game Date: </b> {{game.date}}</li>
							<li class="list-group-item"><a href="{%url 'join_game' %}"><button class="btn btn-info btn-block">Join Now!</button></a></li>
						</ul>
					</div>
					<br>
			{%endif%}
			
		{% endfor %}
	</div>
</div>

{% endblock content %}
