{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col collapse show card border-primary mb-3" style="max-width: 20rem;" id="toggle">
        <div class="card-header">
            <h4>View Only</h4>
        </div>
        <div class="card-body">
            <p class='card-text'>Click if you want to only <b>VIEW</b> questions to help your team<br></p>
            <button data-target="#toggle,#viewer" class="btn btn-primary" data-toggle="collapse">View Only</button>
        </div>
    </div>
    <div class="col collapse show card border-info mb-3" style="max-width: 20rem;" id="toggle">
        <div class="card-header">
                <h4>Team Submitter</h4>
        </div>
        <div class="card-boy">
            <p class="card-text"> Click if you will be submitting answers tonight</p>
            <p class="card-text"><b><u>NOTE:</u> Only one person per team should submit answers</b></p>
            <button data-target="#toggle,#submitter" class="btn btn-info" data-toggle="collapse">I Will Submit Answers</button><br><br>
        </div>
    </div>
</div>

<div class="row collapse card border-primary mb-3" id="viewer">
    <div class="card-header"><h4>View Only</h4></div>    
    <div class="form-group collapse card-body" id="viewer">
        <form method="POST">
            <p class="card-text" >You're sure you want to <b><u>VIEW ONLY</u></b>?</p><br>
            {% csrf_token %}
            <input type ="hidden" name="team_name" value="Viewer">
            <input type="checkbox" required id="viewonly">
            <label for="viewonly" class="card-text">I am sure</label><br>
            <button type="submit" class="btn btn-primary">View Only</button>
        </form>
        <br><br><br>
        <p class="card-text"> Just Kidding...</p>
        <button data-target="#submitter, #viewer" class="btn btn-outline-primary btn-sm" data-toggle="collapse">I want to Submit Answers</button>
        
    </div>
</div>


<div class="row collapse card border-info mb-3" id="submitter">
    <div class="card-header"><h4>Team Submitter</h4></div>
    <div class="form-group collapse card-body" id="submitter">
        {% if error %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Error!</h4>
            <p class="mb-0">{{error}}</p>
        </div>
        {%endif%}
        <form method="POST">
            {% csrf_token %}
            <b><label class="card-text" for="team_name">Great! Enter your team name:</label></b><br>
            <input class="form-control card-text" type="text" name="team_name" placeholder="Enter Team Name"><br>
            <input type="checkbox" required id="confirmteam">
            <label for="confirmteam" class="card-text">I'm sure I will be <b>submitting answers</b></label><br>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        <br><br><br>
        <p class="card-text">Just kidding...</p>
        <a href="#viewer, #submitter" class="btn btn-outline-info btn-sm" data-toggle="collapse">I want to View Only</a>


    </div>
</div>
    <div class="row collapse" id="submitter">
    </div>
<style>
    .collapsing {
        transition: none !important;
    }
</style>
{% endblock content %}
