{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col collapse show" id="toggle">
        <form method="POST">
            Click if you want to only VIEW questions to help your team<br>
            {% csrf_token %}
            <input type="hidden" name="team_name" value="Viewer"> 
            <button type="submit" class="btn btn-primary">View Only</button>
        </form>
    </div>
    <div class="col collapse show" id="toggle">
        Click if you will be submitting answers tonight<br>
        <a href="#toggle" class="btn btn-primary" data-toggle="collapse">I Will Submit Answers</a>
    </div>
</div>

<div class="row collapse" id="toggle">
    <div class="form-group collapse" id="toggle">
        {% if error %}
        <b style="color:red;">{{error}}</b><br>
        {%endif%}
        <form method="POST">
            {% csrf_token %}
            <b><label for="team_name">Great! Enter your team name:</label></b><br>
            <input class="form-control" type="text" name="team_name" placeholder="Enter Team Name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
    <div class="row collapse" id="toggle">
    <a href="#toggle" class="btn btn-primary" data-toggle="collapse">I want to View Only</a>
    </div>
<style>
    .collapsing {
        transition: none !important;
    }
</style>
{% endblock content %}
