{% extends "base.html" %}

{% block content %}

{%if game %}
    {%if game.registration_active %}
            
        <div class="row card border-info mb-3" id="submitter">
            <div class="card-header"><h4>Register Team</h4></div>
            <div class="form-group card-body" id="submitter">
                {% if error %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Error!</h4>
                    <p class="mb-0">{{error}}</p>
                </div>
                {%endif%}
                <form method="POST">
                    {% csrf_token %}
                    <b><label class="card-text" for="team_name">Enter your team name:</label></b><br>
                    <input type="hidden" id="game_id" name="game_id" value="{{game.password}}"> 
                    <input type="hidden" id="member_nums" name="member_nums" value="1">
                    <input class="form-control card-text" type="text" name="team_name" required placeholder="Enter Team Name"><br>
                    <label class="card-text" for="team_pass"><b>Enter a Team Passcode:</b> (used by you and teammates to join your team -- so don't use something sensitive!)</label><br>
                    <input class="form-control card-text" type="text" name="team_pass" required placeholder="Enter a Team Access Code"><br>
                    <a href="#"  class="btn btn-secondary" onclick="addInput()">+Add Member</a><br>
                        <div class="container" id="addMember">
                            <div class="form-group row" id="memberInfo">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="memberName1" name="memberName1" placeholder="Enter Member Name">
                                </div>
                                <div class="col-6">
                                    <input type="email" class="form-control" id="memberEmail1" name="memberEmail1" placeholder="Enter Member Email">
                                </div>
                            </div>
                        </div>
                    <input type="checkbox" required id="confirmteam">
                    <label for="confirmteam" class="card-text">This information is correct</b></label><br>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
                <br><br><br>

            </div>
        </div>

        <script>
            var counter=1;
            var limit = 6;
            function addInput(){
                var container = document.getElementById("addMember");
                if (counter >= limit){
                    alert("You cannot add anymore members");
                }else{
                    counter++;
                    document.getElementById("member_nums").value=counter;
                    var row = container.appendChild(document.createElement('div'));
                    row.className += "form-group row";

                    var col1 = row.appendChild(document.createElement("div"));
                    col1.className+="col-6";

                    var memName = document.createElement("input");
                    memName.className += "form-control";
                    memName.type = "text";
                    memName.name = "memberName"+counter;
                    memName.id = "memberName"+counter;
                    memName.placeholder = "Enter Member Name";

                    var col2 = row.appendChild(document.createElement("div"));
                    col2.className += "col-6";

                    var memEmail = document.createElement("input");
                    memEmail.className += "form-control";
                    memEmail.type = "email";
                    memEmail.name = "memberEmail"+counter;
                    memEmail.id = "memberEmail"+counter;
                    memEmail.placeholder = "Enter Member Email";

                    col1.appendChild(memName);
                    col2.appendChild(memEmail);
                    row.appendChild(document.createElement("br"));
                }
            }
        </script>
    {%else%}
        <div class="card border-info mb-3">
            <div class="card-header">
                <h3>Registration is Currently Closed</h3>
            </div>
            <div class="card-body">
                <p class="card-text"> Registration for the game <b>{{game.name}}</b> scheduled for <b>{{game.date}}</b> is currently <b><u>CLOSED</u></b></p>
                <br><br>
                <p class="card-text"> Please contact support@onlinebartrivia.com if you need assistance. Thank you!</p>
    {%endif%}
{%else%}
    <div class="form-group">
        <div class="card border-info mb-3" >
            <form method="GET">
            <div class="card-header"><h3>Register Team</h3></div>
            <div class="card-body">
                <h4 class="card-title">Enter Game ID here:</h4>
                <p class="card-text">Contact the Quizmaster if you don't know the Game ID</p>
                <label for="game_id"><b>Game ID:</b></label><br>
                <input class="form-control card-text" type="text" id="game_id" name="game_id" placeholder="Enter Game ID"><br>
                <button type="submit" class="btn btn-info">Join Game!</button>
            </form>
            </div>
        </div>
    </div>
{%endif%}

{% endblock content %}
