{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'game' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}

<h1>{{ game.name }} - {{game.date}}</h1>
{%if request.session.team_name == "Viewer" %}
	<h3>VIEW ONLY</h3>
{%else %}
	<h3>Your Team: <b><u>{{request.session.team_name}}</b></u></h3>
	<h4>Your current score: <b>{{team.score}}</b></h4>
{% endif %}
<a href="{% url 'game' game.password %}"><button class="btn btn-primary btn-lg">Back to Game</button></a><br><br>

{% if team_answers %}
<h3><b>Round #{{round.round_num}}</b> - {{round.round_name}}</h3>
	<h3>You have already submitted answers for this round</h3>
	<form>
		<div class="form-group">
			{%for answer in team_answers %}
					<b><u>Question #{{answer.question.question_num}}:</u> {{answer.question.question}}<br></b> 
					<input class="form-control" type="text" name="a{{answer.question.question_num}}" value="{{answer.answer}}" readonly><br>
			{%endfor%}
		</div>
	</form>

{% elif request.session.team_name == "Viewer" %}
<h3><b>Round #{{round.round_num}}</b> - {{round.round_name}}</h3>

{%for question in questions %}
	<div class="card" >
		<ul class="list-group list-group-flush">

			<li class="list-group-item"><b>Question #{{question.question_num}}</b></li>
			<li class="list-group-item">{{question.question}}</li>
		</ul>
	</div>
	<br>
{%endfor%}

{% elif round.active %}
<h3><b>Round #{{round.round_num}}</b> - {{round.round_name}}</h3>

	<form action="{% url 'submit_answers' game.password round.round_num%}" method="POST">
		<div class="form-group">
			{% csrf_token %}
			{%for question in questions %}
					<b><u>Question #{{question.question_num}}:</u> {{question.question}}<br></b> 
					<input class="form-control" type="text" name="a{{question.question_num}}" placeholder="Enter Answer"><br>
			{%endfor%}
			{% if request.session.double %}
				<b>2X has been used in Round {{request.session.double}}</b>
			{% else %}
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="yes" name="double" id="double">
				<label class="form-check-label" for="double">2X Multiplier?<label>
			</div>
			{% endif %}

			<div class="form-check">
				<input class="form-check-input" type="checkbox" required="true" name='check' id="check">

				<label class="form-check-label" for="check">I'm sure I want to submit</label>
			</div><br>
			<button type="submit" class="btn btn-primary" >Submit</button>
		</div>
	</form>

{% else %}
This round is not active. Check back after the Quizmaster has annouced it is active.

{% endif %}
{% endblock content %}
