{% extends "base.html" %}
{%load mathfilters %}

{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'game' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}
<div class="card border-info mb-3">
	<div class="card-body">
		<h1 class="card-title">{{ game.name }} - {{game.date}}</h1>
		<h3 class="card-title">Your Team: <b><u>{{request.session.team_name}}</b></u></h3>
		<h4 class="card-title">Your current score: <b>{{score.normalize}}</b></h4>

		<a href="{% url 'game' game.password %}"><button class="btn btn-info btn-lg">Back to Game</button></a><br><br>
		{%if round.url %}
			<h5>URL for additional material:</h5>
			<p class="card-text">URL: <a href="{{round.url}}" target=_blank>Click Here</a></p>
		{%endif%}
		{%if round.description %}
			<h5>Description: </h5>
			<p class="card-text">{{round.description}}</p>
		{%endif%}


		{% if team_answers %}
		<h3 class="card-title"><b>Round #{{round.round_num}}</b> - {{round.round_name}}</h3>
			<h3 class="card-title">You have already submitted answers for this round</h3>
			{% if request.session.double == round.round_num %}<h4 class="card-title">You have <b>doubled</b> this round!</h4>{%endif%}
			<form>
				<div class="form-group">
					{%for answer in team_answers %}
					<div class="row">
						<div class="col">
							<label class="card-text form-control-label" for="a{{answer.question.question_num}}"><b><u>Question #{{answer.question.question_num}}:</u> {{answer.question.question}}</label><br></b>
							<input class="form-control card-text {%if not round.active and answer.scored %}{%if answer.correct%}is-valid {%else%}is-invalid{%endif%}{%endif%}" type="text" name="a{{answer.question.question_num}}" value="{{answer.answer}}" readonly><br>
						</div>
						{%if not round.active and answer.scored %}
							<div class="col-1">
								<label class="card-text" for="pts{{answer.question.question_num}}"><b>Points:</b></label><br>
								<button class="card-text btn btn-outline-primary" id="pts{{answer.question.question_num}}" onclick="return false;">
									{%if round.round_num == request.session.double %}
    									{% with pts=answer.points|mul:2 %}
										{{pts.normalize}}
										{%endwith%}
									{%else %}
										{{answer.points.normalize }}
									{%endif%}
								</button>
							</div>
						{%endif%}
					</div>
					{%endfor%}
				</div>
			</form>

		{% elif round.active %}
		<h3 class="card-title"><b>Round #{{round.round_num}}</b> - {{round.round_name}}</h3>

			<form action="{% url 'submit_answers' game.password round.round_num%}" method="POST">
				<div class="form-group">
					{% csrf_token %}
					{%for question in questions %}
							<b class="card-text"><u>Question #{{question.question_num}}:</u> {{question.question}}<br></b> 
							<input class="form-control card-text" type="text" name="a{{question.question_num}}" placeholder="Enter Answer"><br>
					{%endfor%}
					{% if request.session.double %}
						<b class="card-text">2X has been used in Round {{request.session.double}}</b>
					{% else %}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="yes" name="double" id="double">
						<label class="form-check-label card-text" for="double">2X Multiplier? {%if game.double_or_nothing %}<b>DOUBLE OR NOTHING</b>{%endif%}<label>
					</div>
					{% endif %}

					<div class="form-check">
						<input class="form-check-input" type="checkbox" required="true" name='check' id="check">

						<label class="form-check-label card-text" for="check">I'm sure I want to submit</label>
					</div><br>
					<button type="submit" class="btn btn-primary card-text" >Submit</button>
				</div>
			</form>

		{% else %}
		<p class="card-text">This round is not active. Check back after the Quizmaster has annouced it is active.</p>

		{% endif %}
	</div>
</div>
{% endblock content %}
