{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{% url 'game_details' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}
<div class="card border-info mb-3">
	<div class="form-group card-body">
	<h4 class="card-title">Create Round</h4>

		<label for="q"><b># Questions</b></label><br>
		<input type="integer" id="q" name="q"><br>
		<button type="#" class="btn btn-outline-secondary" onclick="addFields()">Submit</button><br><br><br>
	
	<form method="POST">
		
		{% csrf_token %}
		<label for="name"><b>Round Name</b></label><br>
		<input type="text" class="form-control" placeholder = "Round Name" id="name" name="name"><br>
		<label for="round_num"><b>Round Number</b></label><br>
		<input class="form-control" type="integer" id="round_num" name="round_num"><br>
		<label for="url"><b>URL For Extra Material</b></label><br>
		<input class="form-control" type="text" placeholder="URL" id="url" name="url"><br>
		<label for="description"><b>Description for Round:</b></label><br>
		<input class="form-control" type="text" placeholder="Description here" id="description" name="description"><br>
		<input type="hidden" name="num" id="num" value="8">
		<div id="questions">
		{% for i in "12345678" %}
			<div class="form-group row">
				<div class="col-6">
					<label  for="q{{i}}"><b>Question {{i}}</b></label>
					<input class="form-control" type="text" placeholder="Question" id="q{{i}}"
								name="q{{i}}">
				</div>
				<div class="col-6">
					<label for="a{{i}}"><b>Answer {{i}}</b></label>
					<input class="form-control" type="text" placeholder="Answer" id="a{{i}}"
								name="a{{i}}">
				</div>
			</div>
		{% endfor %}
		</div>

		<button type="submit" class="btn btn-info">Submit</button>

	</form>
	<script>
			function addFields(){
            var number = document.getElementById("q").value;
            var container = document.getElementById("questions");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                document.getElementById("num").value = (i+1);
				
				var row = container.appendChild(document.createElement("div"));
				row.className +="form-group row";

				var col1 = row.appendChild(document.createElement("div"));
				col1.className +="col-6";

				var q_label = document.createElement("Label");
				q_label.setAttribute("for", "q"+(i+1));
				q_label.innerHTML = "<b>Question "+(i+1)+"</b>";
				col1.appendChild(q_label);

                var ques = document.createElement("input");
				ques.className += "form-control";
                ques.type = "text";
				ques.name= "q"+(i+1);
				ques.id = "q"+(i+1);
				
				var col2 = row.appendChild(document.createElement("div"));
				col2.className +="col-6";

				var a_label = document.createElement("Label");
				a_label.setAttribute("for", "a"+(i+1));
				a_label.innerHTML = "<b>Answer "+(i+1)+"</b>";
				col2.appendChild(a_label);

				var ans = document.createElement("input");
				ans.className += "form-control";
				ans.type="text";
				ans.name="a"+(i+1);
				ans.id="a"+(i+1);
                
				col1.appendChild(ques);
				col2.appendChild(ans);
                row.appendChild(document.createElement("br"));
            }
        }
		</script>
	</div>
</div>
{% endblock content %}
