{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{% url 'game_details' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}
<div class="card border-info mb-3">
	<div class="form-group card-body">
	<h4 class="card-title">Create Round</h4>
	<form method="POST">
		
		{% csrf_token %}
		<label for="name"><b>Round Name</b></label><br>
		<input type="text" class="form-control" placeholder = "Round Name" id="name" name="name"><br>
		<label for="round_num"><b>Round Number</b></label><br>
		<input class="form-control" type="integer" id="round_num" name="round_num"><br>
		<label for="url"><b>URL For Extra Material</b></label><br>
		<input class="form-control" type="text" placeholder="URL" id="url" name="url"><br>
		{% for i in "12345678" %}
			<div class="form-group row">
				<div class="col-6">
					<label  for="q{{i}}"><b>Question {{i}}</b></label>
					<input class="form-control" type="text" placeholder="Question" id="q{{i}}"
								name="q{{i}}">
				</div>
				<div class="col-6">
					<label for="a{{i}}"><b>Answer {{i}}</b></label>
					<input class="form-control" type="text" placeholder="Answer" id="a{{i}}"
								name="a{{i}}">
				</div>
			</div>
		{% endfor %}
		<button type="submit" class="btn btn-info">Submit</button>

	</form>
	</div>
</div>
{% endblock content %}
