{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}

{% block content %}

<div class="card border-info mb-3">
	<div class="card-header">
		<h1>Trivia Home</h1>
	</div>
	<div class="card-body">
		<h2 class="card-title">Games</h2>

		<div class="row">
			<div class="col"> 
				<a href="{%url 'add_game' %}"><button class="btn btn-info">Add a Game</button></a>
			</div>
		</div><br>

		{% for game in games|dictsortreversed:'date' %}
			<div class="card border-secondary" style="width: 20rem;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item card-text"><b>{{game.name}}</b>   <a href="{% url 'game_details' game.password %}"><button class="btn btn-outline-info btn-sm float-right">Details</button></a></li>
					<li class="list-group-item card-text"><b>Game Password:</b>  <button class="btn btn-dark float-right"><b>{{game.password}}</b></button></li>
					<li class="list-group-item card-text"><b>Game Date:</b> {{game.date}} </li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-3">
								<p class="card-text"><b>Game Status:</b></p>
							</div>
							<div class="col-9">
								{% if game.active %} 
									<a href="{% url 'toggle_game' game.password  %}"><button class="btn btn-primary btn-block">Active</button></a>
								{% else %} 
									<a href="{% url 'toggle_game' game.password  %}"><button class="btn btn-secondary btn-block">Inactive</button></a>
								{%endif%}
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-6">
								<p class="card-text"><b>Registration Status:</b></p>
							</div>
							<div class="col-6">
								{% if game.registration_active %} 
									<a href="{% url 'toggle_registration' game.password  %}"><button class="btn btn-info btn-block">Active</button></a>
								{% else %} 
									<a href="{% url 'toggle_registration' game.password  %}"><button class="btn btn-secondary btn-block">Inactive</button></a>
								{%endif%}
							</div>
						</div>
					</li>
					
				</ul>
			</div>
			<br><br>
		{% endfor %}
	</div>
</div>
{% endblock content %}
