{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{% url 'game_details' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}
<div class="card border-info mb-3">
	<div class="card-header">
		<h1>{{ game.name }} - {{game.date}}</h1>
		<h2>Game ID: {{game.password}}</h2>
		<h5>{%if game.double_or_nothing %}DOUBLE OR NOTHING {%endif%}</h5>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col"> 
				<a href="{%url 'add_round' game.password %}"><button class="btn btn-info">Add a Round</button></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="{%url 'scoreboard' game.password %}"><button class="btn btn-outline-primary">Get Current Scores</button></a>
			</div>
		</div><br>

		{%for round in rounds %}
			<div class="card border-secondary" style="width: 18rem;">
				<ul class="list-group list-group-flush">

					<li class="list-group-item"><b>Round {{ round.round_num }}</b><a href="{%url 'admin_round' game.password round.round_num %}"><button class="btn btn-info float-right">Details</button></a></li>
							{% if round.active %} 
								<li class="list-group-item"><a href="{% url 'toggle_round' game.password  round.round_num%}"><button class="btn btn-primary btn-block">Active</button></a>
							{% else %} 
								<li class="list-group-item"><a href="{% url 'toggle_round' game.password  round.round_num%}"><button class="btn btn-secondary btn-block">Inactive</button></a>

							{%endif%}
					</li>
				</ul>
			</div>
			<br>

		{%endfor%}
	</div>
</div>
{% endblock content %}
