{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{% url 'game_details' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}
<div class="card border-info mb-3">
    <div class="card-header">
        <h1>{{ game.name }} - {{game.date}}</h1>
        <h2>Game ID: {{game.password}}</h2>
        <h3><b>Round #{{round.round_num}}</b> - {{round.round_name}}</h3>
            {%if round.url %}
                <p>URL For Supplemental material: <a href="{{round.url}}" target=_blank>Click Here</a></p> 
            {%endif %}
        <div class="row">
            <div class="col"> 
                <a href="{%url 'score' game.password round.round_num %}"><button class="btn btn-info btn-lg">Score Round</button></a><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="{%url 'game_details' game.password %}"><button class="btn btn-outline-primary">Back to Game</button></a>
            </div>
           
        </div><br>
    </div>
    <div class="card-body">
        <h1 class="card-title">Previously Scored Answers</h1>
        {% for team in team_answers %}
            <div class="card border-secondary">
                <div class="card-header">
                    {%for name in team%}
                        
                        <h2 class="card-title"><u>Team:</u> {{name}}</h2>
                    <form method="POST" action="{%url 'edit_score' game.password round.round_num %}">
                        {% csrf_token %}
                        <input type="hidden" name="team" value="{{name}}">
                    {%endfor%}
                </div>
                <table class="table table-bordered table-sm table-hover">
                {%for answers in team.values%}
                    {%for a in answers%}
                        {% if a.scored %}
                            <tr>
                                <td class="center table-info" colspan="4"><b>Question #{{a.question.question_num}}: {{a.question.question}}</b></td>
                            </tr>
                            <tr class="table-light">
                                <th>Answer Key</th>
                                <th>{{a.team.name}} Answer</th>
                                <th>Correct?</th>
                                <th>Update Points</th>
                            </tr>
                            <tr class="table-secondary">
                                <td class="center">{{a.question.answer}}</td> 
                                <td class="center">{{a.answer}}</td>
                                <td class="center"><input type="checkbox" id="check{{a.question.question_num}}" name="a{{a.question.question_num}}_correct" {%if a.correct %}checked {%endif%}></td>
                                <td class="center"><input type="text" name="a{{a.question.question_num}}" id="points{{a.question.question_num}}" value="{{a.points}}" size=2></td>
                            </tr>
                        {%endif%}
                    {%endfor%}
                        <tr>
                            <td class="center" colspan="4">
                                <label><input type="checkbox" id="confirm_{{answer.1.team.name}}" required>
                                Submit score?</label>
                                    <button class="btn btn-info" type="submit">Submit Scoring</button>      
                            </td>
                        </tr>
                    </table>
                    </form>
                {%endfor%}
                <hr><br>
            </div>
        {%endfor%}
    </div>
</div>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
td.center {
  text-align:center;
}
</style>


{% endblock content %}
