{% for team in team_answers %}
    {%for name in team%}
        <h2>{{name}}</h2>
    {%endfor%}
    {%for answers in team.values%}
        {%for a in answers%}
             {% if not a.scored %}
                <b>Question: {{a.question.question}}</b><br>
                <i>Submitted | Answer Key </i><br>
                {{a.answer}}  |<span>{{a.question.answer}} <br>
                <!--TODO: Add JS to hide names of scored teams -->
            {%endif%}
        {%endfor%}
        <hr><br>
    {% endfor%}

{%endfor%}

