{%extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{% url 'game_details' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}

<div class="card border-info mb-3">
    <div class="card-header">
        <h1>{{ game.name }} - {{game.date}}</h1>
        <h2>Game ID: {{game.password}}</h2>
        <div class="row">
            <div class="col"> 
                <a href="{%url 'game_details' game.password %}"><button class="btn btn-info btn-lg">Back to Game</button></a><br><br>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ol>
        {% for team in teams|dictsortreversed:"score" %}
            <li>  
                <div class="card border-secondary" style="width: 18rem;">
                <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <b>Team:</b> {{team.name}}
                        <span class="btn btn-info btn-sm">{{team.score}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"> 
                        <b>Doubled?: </b>

                        {% if team.double_round %}
                            Yes <span class="btn btn-outline-dark btn-sm"> R{{team.double_round}}</span>
                        {% else %}
                            No
                        {% endif %}
                    </li>
                </ul>
                </div><br>
            </li>    
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock content %} 