{% extends "base.html" %}
{% block home_nav %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">Admin Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{% url 'game_details' game.password %}">Game Home <span class="sr-only">(current)</span></a>
      </li>
{% endblock home_nav %}
{% block content %}


<div class="card border-info mb-3">
	<div class="card-header">
		<h1>View Teams</h1>
	</div>
	<div class="card-body">
		<h2 class="card-title">Game: <u>{{game.password}}</u></h2>
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-7">
							<a href="{%url 'export_rooms' game.password %}" class="btn btn-primary">Export Breakout Rooms</a>
						</div>
						<div class="col-5">
							<a href="{%url 'export_teams' game.password %}" class="btn btn-info">Export Teams</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-info " style="width: 18rem;" >
				<ul class="list-group list-group-flush">
			{% for team in teams %}

					<li class="list-group-item">
						<div class='row'>	
							<div class='col-6'>
								<b>Team: {{team.name}}</b>
							</div>
							<div class='col-6'>
								<a href="{%url 'admin_edit_team' game.password%}?team_id={{team.pk}}" class="btn btn-info btn-block">View/Edit Team!</a>
							</div>
						</div>
					</li>
			{%endfor%}

				</ul>
			</div>
			<br>

	</div>
</div>

{% endblock content %}
